/* this CSS is turned to the layout's configuration */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #000;
    border-radius: 5px;
}

body {
    background-image: url(../images/10-fatos-que-vocc3aa-precisa-saber-sobre-a-5.png);
    background-size: 100vw auto;
}

.container-calculator {
    background-color: lightgrey;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.wrapper {
    background-color: rgba(17, 17, 17, 0.45);
}

.display {
    background-color: white;
    box-shadow: 2px 2px 8px #000;
    list-style-type: none;
}

.clearfix {
    border: 0.5px solid #747171;
}

.btn-style {
    background-color: #fff;
    border: 0;
    box-shadow: 2px 2px 6px #000; 
    transition: all 0.3s ease;
}

.btn-action-style {
    color: #fff; 
    font-size: 20px;
}

.btn-style:hover{
    box-shadow: 6px 6px 15px #000;
    border-radius: 12px;
}